.projectsPageContainer{
    display: flex;


.filterContainer{
    margin: 5rem;
}

.projectsContainer{
    margin: 5rem;
}

.navPages{
    display: flex;
    justify-content: flex-end;

    button{
        padding: 0.5rem;
        background: var(--green);
        border: none;
        border-radius: 4px;
        color: var(--background);
        font-weight: 300;
        margin: 0.5rem;
    }

    button:hover{
        background-color: var(--text);
    }
  }
}