.filterContainer{
    display: grid;
    grid-template-areas: 
    "title title"
    "category number";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 80%;
    min-height: 10rem;
    align-self: center;
    grid-area: filter;
    gap: 20px;
    border: solid 0.5px var(--text);
    border-radius: 8px;
    padding: 1rem;

    h1{
        color: var(--dark);
        // border-bottom: solid var(--text);
        grid-area: title;
        justify-self: left;
    }

    ul{
        grid-area: category;
        list-style-type: none;

        li{
            color: var(--text);
            margin: 2rem;

            a:hover{
                color: var(--green);
            }
        }
    }

    .filterNumbers{
        grid-area: number;
        margin: 1rem;
        justify-self: flex-end;
    }

    button{
        padding: 0.5rem;
        background: var(--green);
        border: none;
        border-radius: 4px;
        color: var(--background);
        font-weight: 300;
    }

}